<div class="container">
  <div class="chat-container">
    <div class="chat-module" (scroll)="manageChatOverlay()">
      <div class="thread">
        <div class="thread-item">
          <div class="avatar-container">
            <div class="calliope appearing">
              <div class="head">
                <div class="eye-left"></div>
                <div class="eye-right"></div>
              </div>
              <div class="torso">
                <div class="arm-left"></div>
                <div class="arm-right"></div>
              </div>
              <div class="feet"></div>
            </div>
          </div>
          <div class="response-container">
            <div class="response">Γειά σας! Θα θέλατε να απαντήσετε μερικές ερωτήσεις σχετικά με τη θεραπεία σας; Οι
              απαντήσεις σας θα βοηθήσουν στην καλύτερη περίθαλψή σας, αλλά και στην έρευνα γύρω από τη νόσο του
              καρκίνου του στήθους.</div>
          </div>
          <div class="scroll-overlay overlay-hidden"></div>
        </div>
      </div>
    </div>
    <form class="form-prompt" [formGroup]="chatForm" (ngSubmit)="sendInput()">
      <button type="submit" class="user-prompt-indicator"> > </button>
      <input #message formControlName="message" type="text" class="user-prompt" autofocus="1">
      <div class="user-mic-toggle"></div>
    </form>
  </div>
</div>